[data-tab-content]{
    display: none
  }

  [data-tab-content].active{
    display: block;
  }

  nav.tabs__nav {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      width: 350px;
      height: 50px;
      padding: 0;
      margin: 0 0 1rem;
      border: none;
      box-shadow: 0 7px 34px rgb(50 50 93 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
      border-radius: 3px;
      background: #FFF;
  }
  a.tabs__item {
    position: relative;
      width: calc(100% / 2);
      display: flex;
      justify-content: center;
      height: 50px;
      align-items: center;
      text-decoration: none;
  }
  a.tabs__item.active {
      position: relative;
      z-index: 1;
      color: #FFF;
      /* height: 50px; */
  }
  .tabs__item:first-child.active ~ .Tabs__presentation-slider {
    transform: translateX(0) scaleX(0.5);
  }
  .tabs__item:nth-child(2).active ~ .Tabs__presentation-slider {
    transform: translateX(50%) scaleX(0.5);
  }


  .Tabs__presentation-slider {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 350px;
    height: 50px;
    transform-origin: 0 0;
    transition: transform 0.25s;
    background: linear-gradient( 45deg , #bdb9ff, #67b8ff);
    border-radius: 3px;
  }

  @keyframes fadeInleft {
    0% {
      opacity: 0;
      transform: translateX(-50%);
    }
    100% {
      opacity: 1;
      transform: translateX(0%);
    }
  }

  @keyframes fadeInright {
    0% {
      opacity: 0;
      transform: translateX(50%);
    }
    100% {
      opacity: 1;
      transform: translateX(0%);
    }
  }

  /*
  .tabs__content.active {
      animation: fadeIn 0.7s ease 0s 1 normal;
  }
  */


  .tabs__content:first-child.active{
    animation: fadeInright 0.7s ease 0s 1 normal;
  }
  .tabs__content:nth-child(2).active {
    animation: fadeInleft 0.7s ease 0s 1 normal;
  }

